<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>Add Actor to {{ movie?.title }}</h1>
        </div>
        <div class="col-2 text-right">
            <button class="btn-primary" [routerLink]="['/admin/movie']" routerLinkActive="router-link-active" >Back</button>
        </div>
        <div class="col-12 text-center">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <label>Actor<strong>(Form Group)</strong></label>
                    <div class="checkbox-group" class="row">
                      <div *ngFor="let item of actors; let i = index" class="checkbox col-3">
                          <img src="http://localhost:3000/{{ actors[i]?.picture }} " class="w-100">
                        <label><input type="checkbox" [formControl]="actorsFormGroup?.controls[item.id]" /> {{ actors[i]?.firstname }} {{ actors[i]?.name }}
                        </label>
                      </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" >Submit</button>
            </form>
        </div>
    </div>
</div>