<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-dark rounded-lg p-4 m-2">
            <app-movie-best></app-movie-best>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6 bg-dark rounded-lg p-4 m-2">
                    <app-chart-balance></app-chart-balance>
                </div>
                <div class="col-6">
                    <app-actress-best></app-actress-best>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-chart-movie></app-chart-movie>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <app-actor-best></app-actor-best>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-chart-category></app-chart-category>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-average></app-average>
                </div>
            </div>
        </div>
    </div>
</div>